#================================================================================#
# 功能: 数据库配置的文件 ( dbconn.cfg )
# 说明: 这是一个数据库的配置参数模板。使用用时将复制为一个 dbconn.cfg文件，并配置参数
#===============================================================================#
#数据库配置,必须配置3段,分别是[DATABASE]表示主数据库、[SYSLOG_DATABASE]表示syslog数据库，[FLOW_DATABASE]流数据库(IP流量)
# 这3个数据库可以在同一台服务器上，也可以在不同服务器上，也可以是不同的数据库类型。
[SYSTEM]
#本机实际的物理风卡IP地址
HostIP =

[DATABASE]
#DBType: 数据库类型,支持 mysql、mssql、pgsql、oracle，默认mysql
DBType = mysql

#DBHost：数据库服务器地址
DBHost = 127.0.0.1

#DBPort:数据库端口
DBPort = 4040

#DBUser:数据库用户名
DBUser = lsnms

#DBPassword: 数据库密码。密码和调用它的功能函数有关，如mysql.GormMysql("DATABASE", PasswordDecryptionKey),当PasswordDecryptionKey=""时，即调用时没有指定密钥，则这里的密码表示明文。否则是加密后的密文。
#如果是密文，请调用lsencrypt.TripleDesEncrypt 进行加密
DBPassword = iV/TtpPiw2pMTiAtT7v14Q==

#Database:数据库名
Database = smartnms

#Charset:数据库编码
Charset = utf8mb4

#MaxOpenConns: 用于设置最大打开的连接数，值为0表示不限制
MaxOpenConns = 300

#MaxIdleConns: 用于设置闲置的连接数,建议MaxOpenConns的值等于MaxIdleConns
MaxIdleConns = 300

#建议通过SetConnMaxLifetime来关闭空闲连接 (秒).给db设置一个超时时间，时间小于数据库的超时时间即可
ConnMaxLifetime = 150

#ShowSQL: 执行时是否会显示SQL语句，1-是 0-否(默认)。建议只在开发调试时设为1.
ShowSQL=0

#SYSLOGDATABASE数据库类型
[SYSLOG_DATABASE]
DBType = mysql
DBHost = 127.0.0.1
DBPort = 4040
DBUser = lsnms
DBPassword = iV/TtpPiw2pMTiAtT7v14Q==
Database = smartsyslog
Charset = utf8mb4
MaxOpenConns = 300
MaxIdleConns = 300
ConnMaxLifetime = 150

#FLOW_DATABASE数据库类型
[FLOW_DATABASE]
DBType = mysql
DBHost = 127.0.0.1
DBPort = 4040
DBUser = lsnms
DBPassword = iV/TtpPiw2pMTiAtT7v14Q==
Database = smartsflow
Charset = utf8mb4
MaxOpenConns = 300
MaxIdleConns = 300
ConnMaxLifetime = 150
